.thumbnail {
    max-width: 100%;
    height: auto;
  }
aside{
    padding:1.5% 5% 1.5%;
    background-color: aquamarine;
}
header{
    border: 10%;
    margin:auto;
    padding:2.5% 27.5% 2.5%;
    background-color:bisque;
}
h1{
    text-align:center;
}
input[type=text]{
    cursor: pointer;
    width:90%;
    text-align: center;
    background-color:inherit;
    font: brown;
    border-radius:20px;
    font-size: 100%;
}
 .searchit:hover{
    border-width: 100%;
}
.button {
    width: 150%;
    height: 5%;
    background-color: #020638d6;
    border: none;
    color: white;
    padding: 5% 10% 5%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50%;
    border-radius: 4px;
  }
  .button:hover{
      cursor: pointer;
  }
  div{
      text-align: center;
  }
.product{
        max-width: 650px;
        padding: 20px;
        margin: 30px auto;
        background-color: #fff;
        box-sizing: content-box ;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
        overflow: hidden;
        display: inline-block;
     
}
.product ul{
    list-style-type: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p .des{
    width:50%
    padding: 20%;
}
footer {
    text-decoration: none;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    text-align: center;
    color: black;

}